@namespace Kratos.Api._Pages.Auth

<!DOCTYPE html>
<html>

<head>
  <title>Sign in with Google</title>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body>
  <div id="g_id_onload" data-client_id="613291692381-mk9vs8415bc988l2vd0pfn5qcrknf4mv.apps.googleusercontent.com"
    data-callback="handleCredentialResponse" data-auto_prompt="false">
  </div>

  <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
    data-shape="rectangular" data-logo_alignment="left">
  </div>

  <br><br>
  <button type="button" onclick="refreshTokens()">Refresh</button>

  <script>
    let accessToken = "";

    async function handleCredentialResponse(googleResponse)
    {
      const googleToken = googleResponse.credential;

      let response = await fetch('https://localhost:5000/auth/google/web', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ googleToken })
      });

      let json = await response.json();
      accessToken = json.accessToken;
    }

    async function refreshTokens()
    {
      let response = await fetch("/auth/refresh-tokens/web", {
        method: 'POST',
        headers: {
          'Authorization': `Bearer ${accessToken}`
        }
      });

      let json = await response.json();
      console.log(json);
    }
  </script>
</body>

</html>