@namespace Kratos.Api._Pages.Auth

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form onsubmit="login(event);">
    <input type="email" name="email" id="email" placeholder="Enter meail"><br><br>
    <input type="password" name="password" id="password" placeholder="Enter password"><br><br>
    <button type="submit">Login</button>
    <button type="button" onclick="refreshTokens()">Refresh</button>
  </form>
  <script>
    let accessToken = "";
    let refreshToken = "";
    let sessionId = "";

    async function login(event)
    {
      event.preventDefault();

      let body = {
        email: document.querySelector('#email').value,
        password: document.querySelector('#password').value,
      };

      if (sessionId !== "") {
        body.sessionId = sessionId;
      }

      try
      {
        let response = await fetch("/api/auth/login", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(body)
        });

        let json = await response.json();

        accessToken = json.accessToken;
        refreshToken = json.refreshToken;
        sessionId = json.sessionId;
      }
      catch (ex)
      {
        console.error(ex);
      }
    }

    async function refreshTokens()
    {
      try
      {
        let response = await fetch("/api/auth/refresh-tokens", {
          method: 'POST',
          headers: {
            'Authorization': `Bearer ${accessToken}`,
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ refreshToken, sessionId })
        });

        let json = await response.json();

        accessToken = json.accessToken;
        refreshToken = json.refreshToken;
      }
      catch (ex)
      {
        console.error(ex);
      }
    }
  </script>
</body>

</html>