@namespace Kratos.Api._Pages.Auth

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form onsubmit="login(); return false;">
    <input type="email" name="email" id="email" placeholder="Enter meail"><br><br>
    <input type="password" name="password" id="password" placeholder="Enter password"><br><br>
    <button type="submit">Login</button>
    <button type="button" onclick="refreshTokens()">Refresh</button>
  </form>
  <script>
    let accessToken = "";

    async function login()
    {
      const body = {
        email: document.querySelector('#email').value,
        password: document.querySelector('#password').value,
      };

      try
      {
        let response = await fetch("/auth/login/web", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(body)
        });

        let json = await response.json();
        accessToken = json.accessToken;
      }
      catch (ex)
      {
        console.error(ex);
      }
    }

    async function refreshTokens()
    {
      try
      {
        let response = await fetch("/auth/refresh-tokens/web", {
          method: 'POST',
          headers: {
            'Authorization': `Bearer ${accessToken}`
          }
        });

        console.log(response.status);
      }
      catch (ex)
      {
        console.error(ex);
      }
    }
  </script>
</body>

</html>