@using Features.Members.GetAll

@namespace Kratos.Api._Pages
@page "/members"
@inject IRepository repo

@code {
  private List<Projections.Member> members = [];

  protected override async Task OnInitializedAsync()
  {
    members = await repo.GetAllAsync(CancellationToken.None);
  }
}

<style>
  .members__inner {
    grid-template-columns: 1fr 1fr !important;
  }
</style>
<section class="main__members members">
  <div class="container">
    <h2 class="members__title title">Members</h2>
    <div class="members__inner">
      @foreach (var member in members)
      {
        <div class="members__card card">
          <div class="card__inner">
            <h3 class="card__title" style="font-size: 30px">
              @member.FullName
            </h3>
            <div class="card__text">@member.Position</div>
            <div class="card__subtext" style="font-size: 20px; text-align: justify;">@member.Bio</div>
            <div class="card__box card-box">
              <div class="card-box__person-img card-person-img">
                <img
                  class="card-person-img__image"
                  src="/uploads/members/@member.DisplayPictureFileName"
                  alt="img"
                />
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
