@using Kratos.Api.Features.Services.Get

@namespace Kratos.Api._Pages
@page "/services"

@inject IRepository repo

@code {
  private List<Projections.Service> services = [];

  protected override async Task OnInitializedAsync()
  {
    services = await repo.GetAsync(CancellationToken.None);
  }
}

<style>
  .card__title {
    font-size: 30px;
  }
  
</style>

<section class="main__events events">
  <div class="container">
    <h1 class="events__title title">Services</h1>
    <div class="events__inner">
      @foreach (var service in services)
      {
        <div class="events__card card card--events">
          <div class="card__inner">
            <a class="card__title card--events-title" href="/service/@service.SeoFriendlyName" hx-target="#page-content"
              hx-swap="innerHTML">
              @service.Name
            </a>
            <ul class="card__list card-list">
              <li class="card-list__item">
                <p class="card-list__text" style="font-size: 18px; text-align: justify;">
                  @service.Summary
                </p>
              </li>
            </ul>
            <a class="card-box__poster" href="/service/@service.SeoFriendlyName" hx-target="#page-content"
              hx-swap="innerHTML">
              <img class="card-box__poster-img" src="/uploads/services/@service.ImageFileName" alt="img" />
            </a>
          </div>
        </div>
      }
    </div>
  </div>
</section>
